{% extends "group/layout.html"%}

{% block body %}
    <h1>{{member.name}}</h1>
    <div class="info">
        <img class="avt" src="{{ member.avt.url }}" alt="{{ member.name }} Avatar" style="max-height:100px">
        <div class="dob">{{member.dob}}</div>
        <div class="id">{{member.student_id}}</div>
        <div class="email">{{member.email}}</div>
        <div class="address">{{member.address}}</div>
        <ul class="skillList">
        {% for skill in member.skills.all %}
            <li>
                <h4>{{skill.name}}</h4>
                <h4>{{skill.level}}</h4>
            </li>
        {% endfor %}
        </ul>
        <ul class="experienceList">
        {% for experience in member.experiences.all %}
            <li>
                <h4>{{experience.name}}</h4>
                <h4>{{experience.level}}</h4>
            </li>
        {% endfor %}
        </ul>
        <ul class="educationList">
        {% for education in member.educations.all %}
            <li>
                <h4>{{education.name}}</h4>
                <h4>{{education.level}}</h4>
            </li>
        {% endfor %}
        </ul>
        <ul class="mediaList">
        {% for media in member.medias.all %}
            <li>
                <h4>{{media.name}}</h4>
                <h4>{{media.level}}</h4>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}