{% extends "user/includes/layout.html" %}
{% load static %}
{% block body %}
    {% include "user/includes/navbar.html" %}
    {% include "user/includes/hero.html" %}
    {% comment %} {% include "user/includes/banner.html" %} {% endcomment %}
    {% comment %} {% include "user/includes/card.html" %} {% endcomment %}
    {% comment %} <h1>Our Team 123</h1> {% endcomment %}
    {% comment %} <div class="members-list">
    </div> {% endcomment %}
    <div class="container-fluid">
        <div class="row members-list">
            
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script  type="text/javascript" src="{% static 'user/js/register_login.js' %}"></script>
<script type="text/javascript" src="{% static 'user/js/members_info.js' %}"></script>
{% endblock %}