{% extends "user/includes/layout.html" %}
{% load static %}
{% block body %}
<div class="container">
    <!-- Navbar -->
    {% include "user/includes/navbar.html" %}
    <!-- // Navbar -->
    <div class="content">
        <!-- Page wrapper -->
        <div class="member-wrapper">
            <div style="width: 60%; margin: 0px auto;" class="error">
            <!-- full member div -->
            <div class="full-member-div" data-username="{{username}}">
            </div>
            <!-- // full member div -->
            <div class="edit-info">
            </div>
        </div>
        <!-- // Page wrapper -->
        <!-- post sidebar -->
        <div class="post-sidebar">
            <div class="card">
                <div class="card-header">
                </div>
            </div>
        </div>
    </div>
<!-- // content -->
</div>
{% endblock %}
{% block javascript %}
<script>
    let username = "{{ request.user.username }}";
    let is_requested = "False";
    let is_member = "False";
    {% if request.member %}
        is_requested = "{{ request.member.is_requested }}";
        is_member = "{{ request.member.is_member }}";
    {% endif %}
</script>
<script type="text/javascript" src="{% static 'user/js/profile_info.js' %}"></script>
{% endblock %}